td {
    padding: 7px;
    border: 1px solid black;
}
td:nth-child(odd){
    font-family: monospace;
}
th {
    border: 1px solid black; 
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
.image{
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}
.hidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
#python{
    background-image: url("snek.png");
}
#darkness{
    background-color: black;
}