html,body{
    margin:0;
}
header{
    padding:1em;
    background-color:#ffbbbb;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
header h2{
    font-weight:bold;
    font-size:1.2em;
    text-transform:uppercase;
    color:#771111;
    text-align:center;
    vertical-align:middle;
}
header nav{
    vertical-align:middle;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    text-align: center;
    margin-top:2em;
}
header nav a, header nav a:visited{
    background-color: #db0000;
    color: #ffffff;
    padding: 1em;
    text-decoration: none;
    border-radius:7em;
    font-weight:bold;
}
header nav a:focus, header nav a:hover{
    border-style: inset;
    border-radius:7em;
    border-width: medium;
    border-color: #db0000;
    background-color: #ffffff;
    color: #db0000;
}
main{
    background-color:#ffdddd;
    padding:1em;
}
h1{
    font-size:2em;
    font-family:sans-serif;
    color:#bb1313;
    font-weight:500;
}
h2{
    font-size:1.5em;
    font-family:sans-serif;
    color:#1313cc;
    font-weight:400;
}
a:visited{
    color:#440000;
}
a:hover, a:focus{
    text-decoration:none;
    background-color:#0000ff;
    color:#ffffff;
    border-radius:.2em;
    outline:0;
}
td {
    padding: .3em;
    border: .1em solid black;
}
td:nth-child(odd){
    font-family: monospace;
}
td:first-child{
    text-align: center;
    vertical-align: middle;
}
td:nth-child(2){
    vertical-align:top;
}
th {
    border: .1em solid black;
    background-color:#101065;
    color:#FFFFFF;
    padding: .3em;
    font-weight:500;
}
tr:nth-child(even)
{
    background-color:#DADADA;
}
table {
    border: .1em solid black;
    border-collapse: collapse;
}
.image{
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
}
.hidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
#python{
    background-image: url("snek.png");
}
#darkness{
    background-color: black;
}